<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body bgcolor="orange">
    <a href="http://localhost:8000">Home</a> |
    <a href="http://localhost:8000/insert">Insert</a> |
    <a href="http://localhost:8000/display">Display</a> |
    <a href="http://localhost:8000/del">Data Delete</a>
    <h1>Display</h1>
<table border="1" bgcolor="red">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Sallery</th>
    </tr>
    <% Data.forEach((key)=>{
        %>

        <tr>
            <td>
                <%=key.empno %>
            </td>
            <td>
                <%=key.name %>
            </td>
            <td>
                <%=key.city %>
            </td>
            <td>
                <%=key.sallery %>
            </td>
        </tr>
        <% }) %>
    </table>
</body>

</html>