<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="orange">
    <a href="http://localhost:8000">Home</a> |
    <a href="http://localhost:8000/insert">Insert</a> |
    <a href="http://localhost:8000/display">Display</a> |
    <a href="http://localhost:8000/del">Data Delete</a>
    <h1>Welcome to my Insert page</h1>

    <form method="post" action="/datasave">
        Enter id:<input type="text" name="empno">
        <br>
        Enter Name:<input type="text" name="nm">
        <br>
        Enter City:<input type="text" name="ct">
        <br>
        Enter Sallary :<input type="text" name="sal">
        <br>
        <button>submit</button>
    </form>
    
</body>

</html>
